@import "Colors";

.home{
    width: 100%;
    height: 100vh;
    background-color: $second;
    border-radius: 0 0 200px 200px;
   
> main{
    position: absolute;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 2rem;
    justify-content: center;
 > h1{
    font: 400 6rem "Roboto";
    color: $first;
 }
 > p{
    font: 900 1rem "Roboto";
    color: $first;
 }    
}
&::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: no-repeat center/auto url(../assets/1.webp);
    background-size: cover;
    border-radius: 0 0 200px 200px;
    filter: blur(1.8px);
}

}
.home2{
    background-color: $second;
    display: flex;
    margin-top: -200px;
    align-items: center;
    padding: 250px 0px 30px 0px;
    
>img{
    width: 50%;
    padding: 30px;
    animation: imgUp 0.7s linear infinite alternate;
    border-radius: 50px;
} 

> div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
 p {
    color: $first;
    line-height: 24px;
    word-spacing: 4px;
 }   

}   
}
@keyframes imgUp{
    to{
        transform: translateY(-10px);
    }
}
.home3{
    width: 100%;
    height: 90vh;
    background-color:$second ;
    margin-top: -1px;
> div{
    width: 70%;
    height: 75vh;
    background-color: $first;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 30px;
    border-radius: 0 200px 200px 0px;
h1{
    text-align: center;
    border-bottom: 2px solid rgb(44, 44, 44);
    width: 15rem;
    color: rgb(44, 44, 44);
    margin: 0 auto;
}
p{
    padding: 4rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 15px;
    font: italic 100 1.2rem $text2;
}
}    
}
.home4{
    width: 100%;
    height: 90vh;
    background-color:$second ;
    display: flex;
    justify-content: flex-end; 
>div{
    background-color: $third;
    border-radius: 200px 0 0 200px;
    width: 70%;
    height: 70vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
>h1{
    color: $first;
    text-transform: uppercase;
    width: 140px;
    border-bottom: 2px solid $first;
    padding: 0.5rem;
}
>article{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    justify-content: center;
    justify-items: center;
>div{
        animation: imgUp 0.7s linear infinite alternate;
        margin: 1rem;
        height: 10rem;
        width: 10rem;
        background-color: $first;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $dark;cursor: pointer;
        transition: all 0.5s;
       &:hover{
        filter: invert(1);
       } 
       svg{
        font-size: 4rem;
       }
       p{
        font: 900 1.2rem $text2;
       }
}       
}
 
}     
}